@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@300;700&family=Gruppo&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Amatic SC';
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
img {
  width: 150px;
  }

ul {
  list-style: none;
}