@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa:wght@300;700&family=Gruppo&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Amatic SC';
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
img {
  width: 300px;
  }

ul {
  list-style: none;
  font-size: 24px;
}

div {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: .3rem;
}

#navbar {
  width: auto;
}

button {
  background-color:  #96be25;
  border: none;
  color: black;
  padding: 15px 32px;
}